{% extends 'catalog/base.html' %}
{% load my_tags%}
{% block content %}
<div class="container">
        <div class="d-flex justify-content-center">
            <div class="card mb-4 box-shadow text-center">
                <div class="card-header">
                    <h2 class="card-title pricing-card-title">{{ object.name }}</h2>
                </div>
                <img src="{{ object.image | my_media_filter}}" height=560 class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="my-0 font-weight-normal">{{ object.price }}₽</h4>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Категория : {{object.category.name}}</li>
                        <li>- Описание: {{object.description | truncatechars:100}}</li>
                        <p>- Активная версия: {{ version }}</p>
                    </ul>
                </div>
            </div>
            <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Версия продукта
                    </h3>
                </div>
                <div class="card-body">
                    <ul>
                    {% for version in version_list %}
                        <li>{{ version.version_number }} {{ version.version_name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
{% endblock %}

